<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Salus Scaffold!</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>
    <div
      style="
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      "
    >
      <h2 style="color: #333">Welcome to Salus Scaffold!</h2>
      <p style="color: #666; margin-bottom: 15px">Dear <%= userName %>,</p>
      <p style="color: #666; margin-bottom: 15px">
        We are thrilled to welcome you to Salus Scaffold!
      </p>
      <p style="color: #666; margin-bottom: 15px">
        To help you get started, here are the login credentials for exploring
        our website:
      </p>
      <ul style="list-style-type: none; padding: 0">
        <li style="margin-bottom: 5px">
          <strong>Email:</strong>
          <%= dummyEmail %>
        </li>
        <li style="margin-bottom: 5px">
          <strong>Password:</strong>
          <%= dummyPassword %>
        </li>
        <li style="margin-bottom: 5px">
          <strong>Website Link:</strong>
          <a href="<%= website %>" id="decline" style="color: #4060ef"
            >Please Click here to go to website</a
          >
        </li>
      </ul>
      <p style="color: #666; margin-bottom: 15px">
        Please use these credentials to log in and explore our platform. We hope
        you enjoy your experience!
      </p>
      <p style="color: #666; margin-bottom: 15px">
        If you have any questions or need assistance, feel free to contact us.
      </p>
      <div
        style="
          text-align: center;
          color: #999;
          font-size: 0.8rem;
          margin-top: 20px;
        "
      >
        <p>Best regards,<br />The Salus Scaffold Team</p>
      </div>
      <div
        style="
          display: flex;
          justify-content: center;
          color: #999;
          font-size: 0.8rem;
          margin-top: 20px;
        "
      >
        <img src="<%= imageUrl %>" width="160px" height="60px" />
      </div>
    </div>
  </body>
</html>
