<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Salus Scaffold!</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>
    <div
      style="
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      "
    >
      <p style="color: #666; margin-bottom: 15px">Dear <%= userName %>,</p>
      <p style="color: #666; margin-bottom: 15px">
        Thank you for using Salus Scaffold
      </p>
      <p style="color: #666; margin-bottom: 15px">
        Your email is essential for registration, ensuring a seamless and secure
        process. Once registered, you'll gain access to all the features and
        benefits our platform offers.
      </p>
      <ul style="list-style-type: none; padding: 0">
        <li style="margin-bottom: 5px">
          <strong>Your Email:</strong>
          <%= clientEmail %>
        </li>
        <li style="margin-bottom: 5px">
          <strong>Your Password:</strong>
          <%= password %>
        </li>
        <li style="margin-bottom: 5px">
          <strong>Phone Number: </strong>
          <%= phoneNumber %>
        </li>
        <li style="margin-bottom: 5px">
          <strong>Company: </strong>
          <%= company %>
        </li>
        <li style="margin-bottom: 5px">
          <strong>Website Link:</strong>
          <a href="<%= website %>" id="decline" style="color: #4060ef"
            >Please Click here</a
          >
        </li>
      </ul>
      <div style="color: #999; font-size: 0.8rem; margin-top: 20px">
        <p>Best regards,<br />The Salus Scaffold Team</p>
      </div>
      <div
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          color: #999;
          font-size: 0.8rem;
          margin-top: 20px;
        "
      >
        <img src="<%= imageUrl %>" width="160px" height="60px" />
      </div>
    </div>
  </body>
</html>
